.header-wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    a{
        color: rgb(64, 126, 152);
        font-weight: bold;
        text-decoration: none;
        border: 1px solid transparent;
        padding: 0.5rem 1rem;
        background-color: antiquewhite;
        border-radius: 4px;
        &.active {
            color: rgb(2, 23, 32);
            background-color: rgb(210, 196, 177);
          }
    }
}